html,body{
    color:#505050;
    line-height: 1.75em;
    background: #ebebeb;
    font-family: "Helvetica Neue", "Hiragino Sans GB", Helvetica, Arial, sans-serif;
}

a:hover{
    color: #959595;
    text-decoration: none;
}

.container{
    width: 1170px;
}

.main-header{
    text-align: center;
    background: #ffffff;
}

.main-header .branding{
    font-size: 3.5em;
    color: #303030;
}

.main-header .branding img{
    max-width: 50%;
    border-radius:50%;
}

a:active,a:hover,a img{
    outline: none;
}
.unslider{overflow:auto;margin:0;padding:0}
.unslider-wrap{position:relative}
.unslider-wrap.unslider-carousel>li{float:left}
.unslider-vertical>ul{height:100%}
.unslider-vertical li{float:none;width:100%}
.unslider-fade{position:relative}
.unslider-fade .unslider-wrap li{position:absolute;left:0;top:0;right:0;z-index:8}
.unslider-fade .unslider-wrap li.unslider-active{z-index:10}
.unslider li,.unslider ol,.unslider ul{list-style:none;margin:0;padding:0;border:none}
.unslider-arrow{position:absolute;left:20px;z-index:2;cursor:pointer;

}
.unslider-arrow.next{left:auto;right:20px;
    
}

.fading-slider {
    height: 300px;
}
.fading-slider .inner{
    line-height: 300px;
}
.unslider-nav{
    position: absolute;
    top: 270px;
    left: 50%;
    margin-left: -45px;
    z-index: 20;
}

.unslider-nav ol {
    list-style: none;
    text-align: center;
}
.unslider-nav ol li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 10px;
    background: transparent;
    border-radius: 5px;
    overflow: hidden;
    text-indent: -999em;
    border: 2px solid #fff;
    cursor: pointer;
    opacity:0.7;
}
.unslider-nav ol li.unslider-active, .unslider-nav ol li:hover {
  background: #fff;
  cursor: pointer;
}
.unslider-nav ol li:hover {
  opacity: 1;
}

/*------nav--------*/
.main-navigation{
    text-align: center;
    background: #ffffff;
    border-top:1px solid #ebebeb;
    border-bottom:3px solid #e1e1e1;
    margin-bottom:35px;
}

.main-navigation .menu{
    padding: 0;
    margin: 0;
}

.main-navigation .menu li.nav-current{
    border-bottom: 3px solid #e67e22;
    margin-bottom: -2px;
}

.main-navigation .menu li{
    list-style: none;
    display:inline-block;
    position:relative;
}

.main-navigation .menu li a{
    color: #505050;
    line-height: 4em;
    display: block;
    padding: 0 21px;
    text-decoration: none;
}

.main-navigation .menu li:hover{
    border-bottom: 3px solid #e67e22;
    margin-bottom: -2px;
    transition: none 0.2s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
}

/*------maincontent--------*/

.post{
    padding:35px;
    background: #ffffff;
    margin-bottom:35px;
    position:relative;
    overflow: hidden;
}

.post .post-head{
    text-align:left;
}

.post .post-head .post-title{
    margin: 0;
    font-size: 2.5em;
    line-height: 1em;
}

.post .post-head .post-title a:link, .post .post-head .post-title a:visited{
    color:#303030;
    text-decoration: none;
}
.post .post-head .post-title a:hover, .post .post-head .post-title a:active{
    color:#959595;
    text-decoration: none;
}
.post .post-head .post-meta{
    color: #959595;
    margin:14px 0 0;
}

.post-content{
    font: 400 18px/1.62 "Glyphicons Halflings";
    color: #444443;
}

.post-content p{
    margin-top: 0;
    margin-bottom: 1.46em;
}

.btn-default{
    border: none;
    background: #e67e22;
    color: #ffffff;
    transition: none 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.btn{
    padding: 7px 14px;
    border-radius: 2px;
}

.post .post-footer{
    margin-top: 0;
    padding: 21px 0 0;
}

.post .post-footer .tag-list a:link, .post .post-footer .tag-list a:visited{
    color: #e67e22;
    text-decoration: none;
}

.post .post-footer .tag-list a:hover, .post .post-footer .tag-list a:active{
    color: #959595;
    text-decoration: none;
}

/*------sidebar--------*/

.sidebar .widget {
    background: #ffffff;
    padding: 21px 30px;
}

/*-------footer--------*/

.main-footer {
    background: #202020;
    padding: 35px 0 0;
    color: #959595;
}
.main-footer .widget .title {
    color: #bababa;
    border-bottom: 1px solid #303030;
}

.widget {
    margin-bottom: 35px;
    padding: 0 30px;
}
.widget .title {
    margin-top: 0;
    padding-bottom: 7px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 21px;
    position: relative;
}
.widget .title:after {
    content: "";
    width: 120px;
    height: 1px;
    background: #f4645f;
    position: absolute;
    left: 0;
    bottom: -1px;
}
